h1{
    color: darkmagenta;
}

.contacts{
    padding-top: 5px;
    font-size: 15px;
}

.addedNotification{
    color: rgb(9, 94, 9);
    background: lightgrey;
    font-size: 16px;
    font-style: italic;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
